.App {
  font-family: sans-serif;
  text-align: center;
}

.page-container {
  padding-top: 85px;
}

.content {
  padding: 20px;
}

@media (max-width: 768px) {
  .page-container {
    padding-top: 110px;
  }
  .content {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px;
  }
}
